* {
    font-family: "Open Sauce One";
}

header {
    display: flex;
    gap: 0 35px;
    padding: 8px 0;
    border-bottom: 1px solid #9E9E9E;
}

header > img {
    margin-left: 16px;
}

header > h1 {
    font-size: 20px;
}

main {
    margin: 8px auto;
    width: 304px;
}

main > p {
    font-weight: 600;
    color: #373737;
    font-size: 20px;
}

main > p span {
    color: #000;
    text-decoration: underline;
}

main > button {
    margin: 13px auto;
    letter-spacing: -0.05em;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    width: 104.94px;
    height: 37px;
    display: flex;
    align-items: center;
    gap: 24px;
    justify-content: center;
    background-color: #E3C600;
    border-radius: 61px;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
    border-color: transparent;
}