main {
    display: flex;
    /* display: none; */
    justify-content: center;
    margin-top: 17vh;
    position: relative;
}

.modal_terms {
    display: none;
    /* display: flex; */
    position: absolute;
    background-color: rgba(0, 0, 0, 0.705);
    z-index: 1;
    justify-content: center;
    align-items: center;
}

.modal_terms_content {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 291px;
    height: 551px;
    align-items: center;
    border-radius: 20px;
}

.modal_terms_content > h1 {
    color: #404040;
    margin: 19px 0 26px;
    font-size: 20px;
    font-weight: 600;
}

.modal_terms_content > p {
    color: #404040;
    font-size: 14px;
    font-weight: 600;
    width: 264px;
}

.modal_terms_content > button {
    margin-top: 9px;
    letter-spacing: -0.05em;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    width: 97px;
    height: 37px;
    display: flex;
    align-items: center;
    gap: 24px;
    justify-content: center;
    background-color: #E3C600;
    border-radius: 61px;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
    border-color: transparent;
}

/* .modal_terms_content > h1, .modal_terms_content > button {
    align-self: center;
} */

.modal_content {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 26px 0;
    top: 89px;
}

.modal_content > div {
    display: flex;
    flex-direction: column;
    gap: 15px 0;
}

.pass_inp {
    display: flex;
    flex-direction: column;
    gap: 9px 0;
}

.modal_content > div input {
    width: 194px;
    height: 36px;
    border-radius: 48px;
    background-color: #F3F3F3;
    font-size: 14px;
    font-weight: 600;
    padding-left: 15px;
    border: 1px solid #9D9D9D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.modal_content > div > input::placeholder {
    color: rgba(0, 0, 0, 0.43);
}

.modal_content > button {
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-transform: uppercase;
    width: 158px;
    height: 46px;
    display: flex;
    align-items: center;
    gap: 24px;
    justify-content: center;
    background-color: #F7D801;
    border-radius: 7px;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
    border-color: transparent;
}

.check_area {
    display: flex;
    gap: 0 5px;
    position: absolute;
    top: 228px;
}

.check_area > label {
    font-size: 9px;
    font-weight: 600;
    color: #6F6F6F;
}

.check_area > label > span {
    color: #0070C1;
    text-decoration: underline;
}

.ball {
    width: 38px;
    height: 38px;
}